.sidebar-main {
    min-height: calc(100vh - 66px);
    height: 100%;
    background-color: #001d57;
  }
  
  a.active {
    background-color: #004fe0 !important;
  }
  a.menu {
    background-color: #001d57 !important;
  }
  