<h2 mat-dialog-title>Cambiar Contraseña</h2>

<mat-dialog-content>
  <form [formGroup]="password_form" (ngSubmit)="change_password()">
    <!-- Campo para la nueva contraseña -->
    <mat-form-field class="full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput formControlName="passwd1" type="password" placeholder="Ingrese nueva contraseña" required>
      <mat-error *ngIf="password_form.get('passwd1')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>

    <!-- Campo para confirmar la nueva contraseña -->
    <mat-form-field class="full-width">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput formControlName="passwd2" type="password" placeholder="Confirme la nueva contraseña" required>
      <mat-error *ngIf="password_form.get('passwd2')?.hasError('required')">
        La confirmación de la contraseña es requerida
      </mat-error>
      <mat-error *ngIf="password_form.get('passwd2')?.value !== password_form.get('passwd1')?.value">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>

    <!-- Checkbox para notificar -->
    <mat-checkbox formControlName="notify">Notificar</mat-checkbox>

    <!-- Acciones del diálogo -->
    <div mat-dialog-actions class="action-buttons">
        <button mat-button class="btn bg-danger" type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-button class="btn bg-success" color="primary" type="submit" [disabled]="!password_form.valid">Guardar</button>
    </div>
  </form>
</mat-dialog-content>
