::ng-deep .mat-dialog-container {
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  background-color: #fff;
}

.full-width {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  margin-bottom: 15px;
}

button[mat-button] {
  min-width: 100px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action-buttons button {
  margin-right: 10px;  /* Esto añade espacio entre los botones */
}

.action-buttons button:last-child {
  margin-right: 0; /* Quitar el margen al último botón */
}

/* Estilos para el contenedor del checkbox */
.checkbox-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el checkbox con el texto */
  
}

mat-checkbox p {
  margin-top: 19px; /* Quitar el margen del párrafo */
}

/* Ajustes adicionales para el checkbox */
::ng-deep .mat-checkbox-layout {
  display: flex;
  align-items: center; /* Alinea el texto con el checkbox */
}

::ng-deep .mat-checkbox-inner-container {
  margin-right: 8px; /* Espacio entre el checkbox y el texto */
}