<!-- Header -->
<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4>
        <a routerLink="/portal/reviewers"
          ><i class="icon-arrow-left52 mr-2"></i></a
        ><span class="font-weight-semibold">Revisores</span>
      </h4>
    </div>
  </div>
</div>
<!-- Content -->
<div class="content">
  <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h5 class="card-title">{{ form_type }} Revisor</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="reviewer_form" (ngSubmit)="save_reviewer()">
        <fieldset class="mb-3">
          <legend class="font-weight-bold">
            <i class="icon-file-text2 mr-2"></i>Información
          </legend>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="first_name">Nombre</label>
                    <span class="required"> *</span>
                    <input
                      type="text"
                      name="first_name"
                      class="form-control"
                      formControlName="first_name"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="last_name">Apellido</label>
                    <span class="required"> *</span>
                    <input
                      type="text"
                      name="last_name"
                      class="form-control"
                      formControlName="last_name"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="user_name">Usuario</label>
                    <span class="required">*</span>
                    <input
                      [ngClass]="{
                        inputMessage:
                          reviewer_form.controls['user_name'].invalid &&
                          (reviewer_form.controls['user_name'].dirty ||
                            reviewer_form.controls['user_name'].touched)
                      }"
                      type="text"
                      name="user_name"
                      class="form-control"
                      formControlName="user_name"
                    />
                    <div
                      *ngIf="
                        reviewer_form.controls['user_name'].invalid &&
                        (reviewer_form.controls['user_name'].dirty ||
                          reviewer_form.controls['user_name'].touched)
                      "
                      class="alerta"
                    >
                      <div>
                        <p class="msj">El campo usuario no es válido.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <span class="required"> *</span>
                    <input
                      [ngClass]="{
                        inputMessage:
                          reviewer_form.controls['email'].invalid &&
                          (reviewer_form.controls['email'].dirty ||
                            reviewer_form.controls['email'].touched)
                      }"
                      type="email" 
                      name="email" 
                      class="form-control"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        reviewer_form.controls['email'].invalid &&
                        (reviewer_form.controls['email'].dirty ||
                          reviewer_form.controls['email'].touched)
                      "
                      class="alerta"
                    >
                      <div>
                        <p class="msj">El campo correo no es válido.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="input_select">
                    <mat-label>Seleccione una región</mat-label>
                    <mat-select formControlName="region" [(value)]="region" [disabled]="global_reviewer" (selectionChange)="change_region()">
                      <mat-option
                        *ngFor="let _region of regions"
                        [value]="_region.value"
                      >
                        {{ _region.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="region_selected">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione el tipo de unidad</mat-label>
                    <mat-select [(value)]="selected_unit" (selectionChange)="change_ua_uo()">
                      <mat-option value="0">Unidad Academica</mat-option>
                      <mat-option value="1">Unidad Organizacional</mat-option>
                      <mat-option value="2">Ambas</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="is_academic">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione el tipo de unidad</mat-label>
                    <mat-select [(value)]="selected_degree" (selectionChange)="change_academic_degree()">
                      <mat-option value="0">Universidad</mat-option>
                      <mat-option value="1">Bachillerato</mat-option>
                      <mat-option value="2">Ambas</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="is_university">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione una Universidad</mat-label>
                    <mat-select formControlName="origin_university">
                      <mat-option
                        *ngFor="let institution of filtered_university_list"
                        [value]="institution.value"
                      >
                        {{ institution.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="is_highschool">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione un Bachillerato</mat-label>
                    <mat-select formControlName="origin_highschool">
                      <mat-option
                        *ngFor="let institution of filtered_highschool_list"
                        [value]="institution.value"
                      >
                        {{ institution.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="is_organizational">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione una Unidad Organizacional</mat-label>
                    <mat-select formControlName="origin_organizational_unit">
                      <mat-option
                        *ngFor="let org of filtered_organizational"
                        [value]="org.value"
                      >
                        {{ org.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <legend class="font-weight-bold">
                  <i class="icon-file-text2 mr-2"></i>Datos de revisión
                </legend>

                <div class="col-md-6" style="padding-top: 2rem">
                  <div class="form-group">
                    <mat-checkbox (change)="change_to_global()"
                      formControlName="global_reviewer"
                      class="example-margin"
                      >¿Es Revisor general?</mat-checkbox
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <mat-form-field style="display: block" appearance="fill">
                    <mat-label>Seleccione el tipo de unidad</mat-label>
                    <mat-select [(value)]="selected_unit_type" (selectionChange)="select_unit_type()" [disabled]="global_reviewer">
                      <mat-option value="0">Unidad Academica</mat-option>
                      <mat-option value="1">Unidad Organizacional</mat-option>
                      <mat-option value="2">Ambas</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="is_academic_type">
                  <mat-form-field style="display: block" appearance="fill" >
                    <mat-label>Seleccione el tipo de unidad</mat-label>
                    <mat-select [(value)]="selected_degree_type" (selectionChange)="select_academic_degree()" [disabled]="global_reviewer">
                      <mat-option value="0">Universidad</mat-option>
                      <mat-option value="1">Bachillerato</mat-option>
                      <mat-option value="2">Ambas</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6" [hidden]="selected_unit_rev">
                  <mat-form-field appearance="fill" class="input_select">
                    <mat-label>Seleccione una región</mat-label>
                    <mat-select [(value)]="selected_region" [disabled]="global_reviewer">
                      <mat-option
                        *ngFor="let _region of regions"
                        [value]="_region.value"
                      >
                        {{ _region.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="text-right">
          <a class="btn btn-link" routerLink="/portal/reviewers"
            ><i class="icon-cross2 font-size-base mr-1"></i>Cancelar</a
          >
          <button
            type="submit"
            [disabled]="!reviewer_form.valid"
            class="btn btn-primary"
          >
            Guardar<i class="icon-cloud-upload ml-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
