<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4>
        <a href="#"><i class="icon-arrow-left52 mr-2"></i></a>
        <span class="font-weight-semibold">Error 404: No encontrado</span>
      </h4>
      <!-- <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a> -->
    </div>

    <div class="header-elements text-center d-none">
      <!-- agregar un *ngIf para el validador -->
      <div class="justify-content-center"></div>
    </div>
  </div>
</div>
<div style="height: 20vh;"></div>
<div class="c" style="padding: 1rem 3rem 100px">redireccionando a la pagina principal en {{tiempoRestante}}
</div>
