<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a routerLink="/portal/dashboard"><i class="icon-arrow-left52 mr-2"></i></a> <span class="font-weight-semibold">Cambiar contraseña</span></h4>
        </div>
    </div>
</div>
<!-- Content -->
<div class="content">
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h5 class="card-title">Cambiar contraseña</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="password_form" (ngSubmit)="change_password()">
                <fieldset class="mb-3">
                    <div class="row">
                        <div class="offset-md-3 col-md-6 ">
                            <div class="form-group">
                                <label for="actual_password">Contraseña Actual</label>  <span class="required"> *</span>
                                <div class="form-group-feedback form-group-feedback-right">
                                    <input [type]="actual_password ? 'text' : 'password'" name="actual_password" class="form-control" formControlName="actual_password" required>
                                    <div class="form-control-feedback" (click)="show_hide_password('a')">
                                        <i *ngIf="!actual_password" class="icon-eye text-muted"></i>
                                        <i *ngIf="actual_password" class="icon-eye-blocked text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <div class="form-group">
                                <label for="passwd1">Nueva Contraseña</label>  <span class="required"> *</span>
                                <div class="form-group-feedback form-group-feedback-right">
                                    <input [type]="passwd1 ? 'text' : 'password'" name="passwd1" class="form-control" formControlName="passwd1" required>
                                    <div class="form-control-feedback" (click)="show_hide_password('1')">
                                        <i *ngIf="!passwd1" class="icon-eye text-muted"></i>
                                        <i *ngIf="passwd1" class="icon-eye-blocked text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <div class="form-group">
                                <label for="passwd2">Confirmar Contraseña</label>  <span class="required"> *</span>
                                <div class="form-group-feedback form-group-feedback-right">
                                    <input [type]="passwd2 ? 'text' : 'password'" name="passwd2" class="form-control" formControlName="passwd2" required>
                                    <div class="form-control-feedback" (click)="show_hide_password('2')">
                                        <i *ngIf="!passwd2" class="icon-eye text-muted"></i>
                                        <i *ngIf="passwd2" class="icon-eye-blocked text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="text-right">
                    <a class="btn btn-link" routerLink="/portal/dashboard"><i class="icon-cross2 font-size-base mr-1"></i> Cancelar</a>
                    <button type="submit" [disabled]="!password_form.valid" class="btn btn-primary">Guardar <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
        
    </div>
</div>